/* General */
body {
    
    padding: 0;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #F279B2 50%, #94BF80 50%);
   
}



/* Header */
header {
    padding: 10px 20px;
}

header .navbar {
    background-color: #94BF80 !important; 
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 20px; 
    padding: 10px 20px; 
}

/* Navbar links */
.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #222;
}

.navbar-brand:hover {
    color: #007bff;
}

.nav-link {
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #007bff;
}


/* Sección principal */
section.text-center {
    margin: 30px;
    padding: 20px;
    background-color: #ffebf4; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section.text-center h1,
section.text-center h2 {
    color: #333;
    font-weight: bold;
}

section.text-center h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: "Bricolage Grotesque", sans-serif;
   
}

section.text-center h2 {
    font-size: 1.8rem;
    color: #ff69b4; /* Color rosa vibrante */
    margin-bottom: 20px;
}

section.text-center p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    text-align: left;
    margin-top: 10px;
}

/* Botón */
button a, .btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #28a745; 
    border: none;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align: center;
}

button a:hover, .btn:hover {
    background-color: #1e7e34;
}

.titulogrande{
    font-family: "Bricolage Grotesque", sans-serif;
    
    
    font-style: normal;
    
    font-size : 15em;
    padding: 0;
    line-height: 0.7; 
    margin-top: 0.1em;
     
}

.titulopaginasc{
    font-family: "Bricolage Grotesque", sans-serif;
    
    font-style: normal;
    
    font-size : 3em;
    padding: 1px;
    line-height: 0.7; 
     
}

.tituloquiensoy{
    font-family: "Bricolage Grotesque", sans-serif;
    font-style: normal;
   font-size : 6em;
    padding: 2px;
    line-height: 0.7; 
     
}

.titulopequeño{
    font-family: "Montserrat", serif;
     font-style: italic;
    color: #fff;
    font-size : 1em;
}

.rol{ 
    font-family: "Montserrat", serif;
    font-style: italic;
    color: #fff;
    font-size : 1.5em;
}

/* Imagenes */
section img {
    max-width: 100%;

   
}

/* Layout de segunda página */
.container-posters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #fff4e6; /* Fondo crema */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-posters img {
    width: 40%;
    border-radius: 10px;
    margin: 0 10px;
}

.container-posters .text {
    flex: 1;
    padding: 20px;
}

.container-posters .text h1 {
    font-size: 2rem;
    color: #e63946;
    text-align: center;
}

.container-posters .text p {
    font-size: 1rem;
    color: #555;
    line-height: 1.8;
}

.container-posters .text a {
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 8px;
}

.container-posters .text a:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    padding: 10px 0;
    text-align: center;
   
    background: linear-gradient(to right, #F279B2 50%, #94BF80 50%);
}


footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

footer ul li a:hover {
    color: #007bff;
}

.rectangulorosa {
    background-color: #f9c8d0; 
    border: 3px solid #f9c8d0; 
    padding: 20px; 
    margin: 50px auto; 
  
    border-radius: 10px; 
    text-align: center; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .naranja{
    background-color: #F27F3D;
  }

  .naranja footer {
    background-color: #F27F3D;
}

.menu-versionmobile{
    display: none;
}

#framecanva{
    position: relative;
     width: 100%;
      height: 0; 
      padding-top: 56.2500%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); 
 margin-top: 1.6em; 
 margin-bottom: 0.9em; 
 overflow: hidden;
 border-radius: 8px; 
 will-change: transform;
}

.estiloslazy{
    position: absolute; 
    width: 100%; 
    height: 100%;
     top: 0; 
     left: 0;
      border: none; 
      padding: 0;
      margin: 0;
}


.button:hover {
    background-color: #0056b3;
}

#btnStart, .buttonstory {
    display: inline-block;
    padding: 10px 20px;
    background-color: #60bb6f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin: 2px;
}
.button:hover {
    background-color: #0056b3;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
    justify-content: center;
    align-items: center;
}



.carta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    transition: transform 0.3s;
    display: none; 
}



.carta .reverso {
    display: block; 
}


  
/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    

    body{
        background: linear-gradient(to right, #F279B2 50%, #F279B2 50%);
      
    }
    .menu-versionmobile{
        display: inline-block;
    }


    .menu-versionmobile {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
  .menu-versionmobile ul li {
        display: inline;
        margin: 0 15px;
    }
    
   .menu-versionmobile ul li a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 500;
        font-family: "Montserrat", serif;
  
 
    font-style: italic;
    color: #fff;
    font-size : 1.5em;
    margin-inline-start:  4px; 

    }
    
   .menu-versionmobile ul li a:hover {
        color: #007bff;
    }
            
        footer {display: none;}
}
    

